{% load static %}

<!DOCTYPE html>
<html>
<head>


	<title>home</title>

	 <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
   <style>
         .container{
                 width: 834;
                 height: 1194;
                 background-color: #F7C9C3;
 							}

   </style>

	<script type="text/javascript" >

	$( function() {
	    $( "#preview_picture" ).draggable({ axis: "y" });
	  } );

	</script>

</head>
<body>

	<!-- replace this html -->
	<div class="container">

    	<!-- div class for header: Compare your work
				<div add new template>
		-->
      <div class="Input Title">
        <h1>Title</h1>
      </div>



			<div class="menu">
			  <!-- studio button and preview -->


        <!-- explore button and preview -->

			</div>

</body>
</html>
