{% load static %}

<!DOCTYPE html>
<html>
<head>


	<title>home</title>

	 <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
   <style>
         .container{
			 	height: 100vh;
                background-color: #F7C9C3;
 							}

   </style>

	<script type="text/javascript" >

	$( function() {
	    $( "#preview_picture" ).draggable({ axis: "y" });
	  } );

	</script>

</head>
<body>

	<!-- replace this html -->
	<div class="container">
<br>

<button type="button" style="background-color: #FCE6E4; width:60vw; font-size:30px;" class="m-5 rounded btn btn-lg btn-block">Home</button>
<br>
<br>
<!-- add pictures and links add urls and views for studio  -->
  <a href="color" style="background-color: #FCE6E4; width:60vw; height: 15vw; font-size:30px; color: black;" class="m-5 rounded btn btn-lg btn-block dark" role="button" color = "white" aria-pressed="true">Studio</a>
  <br>
  <br>
  <a href="explore" style="background-color: #FCE6E4; width:60vw; height: 15vw; font-size:30px; color: black;" class="m-5 rounded btn btn-lg btn-block dark " role="button" color = "white" aria-pressed="true">Explore</a>
 
<br>
<br>
	</div>
</body>
</html>
