{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>P3 Coloring</title>

	 <!-- <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
-->
<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />

	<style>
        .welcome{
					text-align: center;
					padding: 597px 0 597px;
					color: white;
				}


  </style>

	<script type="text/javascript" >

	$( function() {

		$(".container").click(function(){
			window.location = "http://www.google.com/";


		});
	  } );

	</script>

</head>
<body style="background-color: #F7C9C3;">

	<!-- replace this html -->
	<div class="container">

    	<!-- div class for header: Compare your work
				<div add new template>
		-->
      <div class="welcome">
        <h1 style="font-size: 80px;">ColorPare</h1>
		<a href="home" style="font-size: 30px;" class="m-5 btn btn-outline-dark" role="button" color = "white" aria-pressed="true">Enter</a>

      </div>
      <!-- images -->


</body>
</html>
