{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>landing</title>

	 <!-- <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
-->
<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />

	<style>
        .container{
                background-color: #F7C9C3;
							}

				.welcome{
					text-align: center;
					padding: 597px 0 597px;
					color: white;
					font-size: 24px;
				}


  </style>

	<script type="text/javascript" >

	$( function() {

		$(".container").click(function(){
			window.location = "http://www.google.com/";


		});
	  } );

	</script>

</head>
<body>

	<!-- replace this html -->
	<div class="container">

    	<!-- div class for header: Compare your work
				<div add new template>
		-->
      <div class="welcome">
        <h1>Welcome!</h1>
				<br>
				<br>
				<br>
				<br>
				<br>
				<a href="/coloring/home" class="btn btn-outline-dark" role="button" color = "white" aria-pressed="true">Enter</a>

      </div>
      <!-- images -->


</body>
</html>
